<div class="row">
    <div class="jumbotron text-center">
        <h1>Home Page</h1>

        <p>{{ message }}</p>
    </div>
</div>

<!--<div ng-repeat="product in results" ng-if="$index % 4 == 0" class="row">
    <div class="col-xs-3 box"><button ng-click="Show($index)">{{product.gender}}</button><span ng-show = "IsVisible[$index]" ng-click="hide($index)">Hiiii</span></div>
    <div class="col-xs-3 box"><button ng-click="Show($index+1)">{{product.name.title}}</button><span ng-show = "IsVisible[$index+1]" ng-click="hide($index+1)">Hiiii</span></div>
    <div class="col-xs-3 box"><button ng-click="Show($index+2)">{{product.name.first}}</button><span ng-show = "IsVisible[$index+2]" ng-click="hide($index+2)">Hiiii</span></div>
    <div class="col-xs-3 box"><button ng-click="Show($index+3)">{{product.name.last}}</button><span ng-show = "IsVisible[$index+3]" ng-click="hide($index+3)">Hiiii</span></div>
</div>-->
