<div class="row">
    <div class="jumbotron text-center">
        <h1>Product Page</h1>

        <p>{{ message }}</p>
    </div>
</div>
<div class="row" ng-repeat="product in productData" ng-if="$index % 3 == 0">
    <div class="col-lg-4" ng-repeat="product in productData.slice($index, ($index+3 > abc.length ? abc.length : $index+3))">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <strong>{{product.price}}</strong>
        <button ng-show="product.canPurchase">Add to Cart</button>
    </div>
    <hr/>
</div>
